@import url(c:\Users\prafa\Desktop\html\html\colors.css);
body {
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow-x: hidden;
}

#logo {
  font-size: 26px;
  color: var(--text-footer);
  letter-spacing: 3px;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 5px;
  font-weight: bold;
}

header {
  background: var(--nav-color);
  text-align: center;
  z-index: 999;
  width: 100%;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

nav {
  position: absolute;
  text-align: left;
  left: 0;
  background: var(--background);
  width: 100%;
  outline: 2px solid var(--nav-color);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav ul li > ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
  -webkit-animation-name: aparitie_meniu;
          animation-name: aparitie_meniu;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

nav a {
  text-decoration: none;
  color: var(--text-footer);
  font-size: 1.3rem;
  text-transform: uppercase;
  opacity: 0;
}

nav a:hover {
  color: var(--text-color);
  font-size: 1.4rem;
}

.nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 250ms;
  transition: opacity 250ms ease-in-out 250ms;
  -webkit-transition: color 150ms linear;
  transition: color 150ms linear;
}

nav {
  background-color: var(--footer-color);
}

nav ul li ul {
  width: 100%;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  color: var(--text-footer);
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}

.hamburger:hover {
  color: var(--text-color);
}

@media screen and (min-width: 966px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    width: 100vw;
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: .5fr auto;
        grid-template-columns: .5fr auto;
  }
  .logo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    font-weight: bold;
  }
  nav {
    all: unset;
    position: relative;
    width: 93%;
    -ms-grid-column: 2;
    grid-column: 2/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 20px;
  }
  nav ul li > a {
    opacity: 1;
    position: relative;
    -webkit-transition: font-size .25s;
    transition: font-size .25s;
  }
  nav ul.meniu ul {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 1rem;
    border-bottom: 2px solid var(--text-footer);
  }
  nav a::before {
    content: '';
    display: block;
    height: 4px;
    background: var(--text-color);
    position: absolute;
    bottom: -.75rem;
    left: 0;
    right: 0;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  nav a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav ul.meniu > li {
    margin-left: 2.5em;
    text-align: justify;
    float: left;
    width: 120px;
    position: relative;
    height: 3rem;
    padding-top: 3rem;
  }
  nav ul.meniu > li > ul {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition: -webkit-transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
    transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
  }
  nav ul.meniu > li:hover > ul {
    display: block;
    width: 200px;
    background: var(--nav-color);
    margin-right: 15%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  nav ul.meniu li > ul > li {
    width: 10rem;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    margin-left: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .text {
    display: none;
  }
}

@media screen and (max-width: 1200px) and (min-width: 966px) {
  .text {
    display: none;
  }
  .acasa {
    width: 50px  !important;
  }
  nav {
    padding-top: 3%;
  }
}

@-webkit-keyframes aparitie_meniu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparitie_meniu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=meniu1.css.map */