$nrimag: <%= nr %>;

.galerie-a{
	width:400px;
	height:266px;
	border:10px inset ;
  border-image: url(/resurse/imagini/bg.jpg) 30 round;
	position:relative;
	overflow:hidden;
	margin-bottom:5rem;
}
.galerie-a figcaption{
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,0.7);
	width:100%;
	text-align:center;
}
.galerie-a figure{
	position:relative;
	width:400px;
	height:266px;
  top:-20px;
  left:-40px;
}


#galerie-animata figure{	
	position:absolute;
	z-index:0;
	animation-name:gal_exemplu;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-fill-mode:forwards;
	animation-duration:$nrimag*3s;	
	transform-origin:center center;
}
#galerie-animata:hover figure{
  animation-play-state:paused;
}

@for $i from $nrimag to 0{
  #galerie-animata figure:nth-of-type(#{$i}){
    animation-delay:($nrimag*3-3*$i)+s;
  }
}
/*cum calculam timpii:
- avem 7 poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
*/



@keyframes gal_exemplu{ 
	0% {z-index:10;opacity:1;} /*perioada 0-5% in care se afiseaza fara efect */
	7.142857% {transform:skewX(0deg);}
	12%{opacity:1;} /* de  aici doresc sa descresc si opacitatea;*/
	calc(1/#{$nrimag}*100)%{z-index:10;opacity:0;transform:skewX(90deg);}
	14.285715%{z-index:-10; transform:skewX(0deg);}/* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
	
	85.714287%{opacity:0;transform:skewX(0deg);z-index:-10;}	
	85.714288%{z-index:0;}/*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
	100%{opacity:1;z-index:0;}
}

@media screen and (max-width:500px){
	#sectiune-galerie-animata{
		display: none;
	}
}

@keyframes gal_exemplu2{ 
	0% {z-index:10;opacity:1;} 
	10% {transform:skewX(0deg);}
	23%{opacity:1;transform:scale(1,0.2)} /* de  aici doresc sa descresc si opacitatea;*/
	33.3332%{z-index:10;
	;transform:rotate(90deg);}
	33.3333%{opacity:0;z-index:10; transform:skewX(0deg);transform:scale(1,1);}/* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
	33.3334%{z-index:0;}
	66.6665%{opacity:0;}	
	66.6667%{opacity:0;transform:skewX(0deg);z-index:0;;}	
	100%{opacity:1;z-index:0;}
}