$nrimag: <%= nr %>;

.galerie-a{
	width:400px;
	height:266px;
	border:10px inset ;
  border-image: url(/resurse/imagini/bg.jpg) 30 round;
	position:relative;
	overflow:hidden;
	margin-bottom:5rem;
}
.galerie-a figcaption{
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,0.7);
	width:100%;
	text-align:center;
}
.galerie-a figure{
	position:relative;
	width:400px;
	height:266px;
  top:-20px;
  left:-40px;
}


#galerie-animata figure{	
	position:absolute;
	z-index:0;
	animation-name:gal_exemplu;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-fill-mode:forwards;
	animation-duration:$nrimag*3s;	
	transform-origin:left;
}
#galerie-animata:hover figure{
  animation-play-state:paused;
}

@for $i from $nrimag to 0{
  #galerie-animata figure:nth-of-type(#{$i}){
    animation-delay:($nrimag*3-3*$i)+s;
  }
}


$t: (1/$nrimag)*100;
$t1: $t+0.001;
$x:100-$t;
$x1: $x+0.001;
@keyframes gal_exemplu{ 
	0% {z-index:10;opacity:1;} 
	#{$t/2}% {transform:scale(1,0.2);}
	12%{opacity:1;} 
	#{$t}%{z-index:10;opacity:0;transform:rotate(90deg);}
	#{$t1}%{z-index:-10; transform:rotate(0deg);}
	
	#{$x}%{opacity:0;z-index:-10;}	
	#{$x1}%{z-index:0;}
	100%{opacity:1;z-index:0;}
}

@media screen and (max-width:500px){
	#sectiune-galerie-animata{
		display: none;
	}
}