@import "colors.css";

html{
    --h2-pc:1.65em;
    --p-pc:1em;
    --h2-tablet:1.4em;
    --p-tablet:0.95em;
    --h2-phone:1.3em;
    --p-phone:0.9em;
    --h3-phone:1.20em;
    --h3-tablet: 1.25em;
    --h3-pc:1.3em;
}
body{
  min-width: 330px;
}
html{
    background-color: var(--background-color);
    color:black;
}
h2,h3{
    color:var(--highlight-color);
}
main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:"nav"
                        "welcome"
                        "informatii"
                        "tabel"
                        "calendar"
                        "anunturi"
                        "util-online"
                        "statistici"
                        "datesite"
                        "pareri"
                        "FAQ"
                        "comanda"
                        "footer"
                        ;
    padding:0 1%;
  }
h2{
    font-size: var(--h2-phone);
}
h3{
    font-size:var(--h3-phone);
}
p{
    font-size:var(--p-phone);
}
#FAQ{
    padding:0;
  }
#welcome{
  grid-area:welcome;
}
#pareri{
  grid-area: pareri;

}
#FAQ{
  grid-area:FAQ;
  

}
#comanda{
  grid-area:comanda;


}
#tabel
{
    grid-area:tabel;
}
table
{
  margin-top:3%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
#datesite
{
    grid-area:datesite;
}
#util-online{
    grid-area:util-online;
}
#anunturi{
    grid-area:anunturi;
}
#calendar{
    grid-area:calendar;
}
#statistici{
    grid-area:statistici;
}
nav{
  grid-area:nav;
  
}

footer{
  grid-area:footer;
}
.footer-info{
  display:flex;
  flex-direction:column;
  color:var(--text-footer);
}
footer p{
  transform: translateY(-13px);
}
footer a{
  text-decoration: none;
  color:white;
}

@media screen and (max-width:900px)
{
  #animated{
    display: none;
  }
}
@media screen and (min-width:768px)
{
    main{
        overflow:hidden;
        word-wrap: break-word;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:  "nav nav"
                              "welcome welcome"
                              "calendar tabel"
                              "anunturi tabel"
                              "util-online statistici"
                              "datesite pareri"
                              "FAQ comanda"
                              "footer footer "; 
        padding: 0 2%;
        grid-gap:0.75rem;
    }
    h2{
        font-size: var(--h2-tablet);
    }
    h3{
        font-size:var(--h3-tablet);
    }
    p{
        font-size:var(--p-tablet);
    }
}
@media screen and (min-width:1200px)
{
    main
    {
      overflow:hidden;
      word-wrap: break-word;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:  "nav nav nav"
                            "welcome welcome welcome"
                            "calendar tabel anunturi"
                            "util-online tabel anunturi"
                            "util-online statistici  datesite"
                            "pareri  FAQ FAQ "
                            "comanda comanda comanda "
                            "footer footer  footer";
      padding: 0 4%;
      grid-gap:1rem;
    }
    #FAQ{
        padding:0 2%;
    }
    h2{
        font-size: var(--h2-pc);
    }
    p{
        font-size:var(--p-pc);
    }
    h3{
        font-size:var(--h3-pc);
    }
}
