<!DOCTYPE html>
<html>
    <head>
        <title>404 Error</title>
        <link rel="stylesheet" href="/resurse/css/404.css" type='text/css'/>
        <%- include('../fragmente/head')%>
    </head>
    <body>
        <div class=header-div>
            <%- include("../fragmente/header") %>
        </div>
        
        <main>
            <h1> Page Not Found !</h1>
            <p>You can go back to our home page by clicking <a href="./index">here</a> !</p>
            <img src="/resurse/imagini/404_page.png" alt="404-error">
            <%- include("../fragmente/watermark") %>
        </main>

        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </body>
    
</html>