<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
        <%- include('../fragmente/head')%>
    </head>
    <body>
        <div class=header-div>
            <%- include("../fragmente/header") %>
        </div>
    
        <main>
            <%- include("../fragmente/watermark") %>
        </main>

        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </body>
    
</html>