.produse {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}
h1 {
  padding-left: 3%;
  color: #2775ce;
  font-size: 30px;
}
.div2 {
  margin-top: 60px;
  margin-bottom: auto;
  margin-left: 3%;
}
.produse {
  padding-left: 3%;
}
.caracteristica {
  font-weight: bold;
  color: #2775ce;
}

a {
  text-decoration: underline;
  color: #2775ce;
}


.filtre{
  display:flex;
  flex-direction:column;
  gap:10px;
}