    <header class="hd">
        <div id="logo" class="logo">
        <i class="fas fa-wrench"></i>
        AXP SERVICE
        </div>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav class="navbar">
        <ul class="main-nav meniu">
        <li class="acasa"><a class="nav-links" href="/index">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="text">Home</span>
        </a>
            <ul class="homesubmeniu"> 
            <li><a href="/index#welcome">Bine ati venit</a></li>
            <li><a href="/index#FAQ">Intrebari</a></li>
            <li><a href="/index#anunturi">Anunturi</a></li>
            </ul>
        </li>
        <li ><a class="nav-links" href="/about">About</a></li>
        <li ><a class="nav-links"  href="/shop">Shop</a></li>
        <li ><a class="nav-links"  href="/contact">Contact</a></li>
        <li ><a class="nav-links" href="/produse">Produse
        </a>
        <ul class="submeniu"> 
            <%for( let categ of categorii){ %>
                <li><a href="/produse?categ=<%-categ%>"> <%-categ%></a></li>
            <% 
            } %> 
        </ul>
        </li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <i class="fas fa-bars hamburger"></i>
    </label>
    </header>

    <div class="toggle">
        <input type="checkbox" id="dark-mode-toggle" class="dark-mode-toggle" onclick="save()">
        <label for="dark-mode-toggle"></label>
        <p id="text-toggle">apasati pentru a schimba tema  <i class="far fa-hand-pointer sageata"></i> </p>
        
    </div>

    <script src="/resurse/js/tema.js"></script>